# ======================
# Python
# ======================

# Python缓存
__pycache__/
*.py[cod]


# ======================
# Virtual Environment
# ======================

.venv/
venv/
env/


# ======================
# PyCharm
# ======================

.idea/


# ======================
# Data
# ======================

*.csv
*.xlsx


# ======================
# 脚本生成的输出
# ======================

outputs/
.ipynb_checkpoints/


# ======================
# Machine Learning Model
# ======================

*.pth
*.pt


# ======================
# OS
# ======================

.DS_Store
Thumbs.db
